<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Tasks</title>
  </head>
  <body>
    <h1>Your Daily Tasks</h1>
    <div>
      <label for="">Search tasks</label>
      <input type="search" />
      <button type="submit">🔎</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Creation Date</th>
          <th>Status</th>
          <th>
            <div>
              <p>Actions</p>
              <a href="">Add Task</a>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <td>Exampple</td>
        <td>samplee</td>
        <td>TOday</td>
        <td>
          <div>
            <button>Complete</button>
            <button>Cancel</button>
          </div>
        </td>
        <td>
          <div>
            <a href="">Update</a>
          </div>
        </td>
      </tbody>
    </table>
    <a href="">Tasks history</a>
  </body>
</html>
