<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task History</title>
  </head>
  <body>
    <h1>Task History</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Creation Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <td>Exampple</td>
        <td>samplee</td>
        <td>TOday</td>
        <td>Completed</td>
        <td>
          <div>
            <button>Delete</button>
          </div>
        </td>
      </tbody>
    </table>
  </body>
</html>
